.deb {
  border: 1px solid orangered;
}

.body-content {
  min-height: 90vh;
  margin: 20px auto;
}

.push-up {
  margin-top: -20px;
}

.material-icons {
  vertical-align: middle;
}

.hoverCursor:hover {
  cursor: pointer;
}

.centerFlex {
  display: flex;
  justify-content: center;
}