.nav {
  background: #320E3B!important;
  color: #E1E1E1!important;
  margin: 0px;
}

.nav a{
  padding: 5px;
  color: #e1e1e1!important;
  border-radius: 7px;
  margin: auto 5px;
  text-align: center;
}

.nav a:hover {
  text-decoration-line: none;
  color:#ffffff8f!important; 
}

.navBrand {
  border: none!important;
  font-weight: 800;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 20px;
  letter-spacing: 2px;
  transition: all 0.15s ease;
}

.search {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  height: 45px;
  padding: 0px;
}

.search input {
  background: #E1E1E1;
  margin: 0;
  padding: auto 5px;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  max-width: 80%;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  text-align: center;
}

.search button{
  display: inline;
  background: #E1E1E1; 
  color: #320E3B;
  border: none;
  height: 100%;
  padding: 0px;
  margin: 0px;
  width: 100%;
  max-width: 20%;
  font-size: 1rem;
  font-weight: 400;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: all .5s ease;
}

.search input:active, input:hover {
  text-decoration: underline;
}


.search button:hover {
  background: #320E3B;
  color: #E1E1E1;
  /* border-right: 3px solid #E1E1E1;
  border-top: 3px solid #E1E1E1;
  border-bottom: 3px solid #E1E1E1; */
}

@media (max-width: 992px) { 
  .search {
    max-width: 200px;
  }
}

@media (max-width: 422px) {
  .search {
    max-width: 150px;
  }
}